<div class="page-container">
  <div class="one-column">
    <div class="card">
      <h1 class="centered-heading">Credits</h1>
      <%= link_to "Have a coupon?", new_claim_coupon_path %>
    </div>
  </div>
</div>
