<h1 class="centered-heading">New Event</h1>
<div class="centered-form">
  <%= simple_form_for @event do |f| %>
    <%= f.input :name %>
    <%= f.input :duration, collection: 1..5, label: "Duration (hours)" %>
    <%= f.submit "Create", class: "primary" %>
  <% end %>
</div>