<% if @event.hashtag %>
  <h1 class="centered-heading"><%= @event.hashtag %></h1>
<% end %>
<h1 class="centered-heading"><%= @event.phone_number.phone_formatted %></h1>
<h1 class="centered-heading" id="current-message"></h1>

<!-- This is used to subscribe to the right channel -->
<div class="hidden" id="broadcast-token"><%= @event.broadcast_token %></div>