.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 80%;
    max-width: 500px;
    div {
      position: relative;
      input {
        width: 100%;
      }
      select {
        width: 100%;
      }
      span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        color: red;
      }
    }
  }
}

/* for devise forms */
.error_notification {
  display: none;
}
.form-inputs {
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  input {
    margin-bottom: 0px;
  }
  span {
    height: 0px;
    color: red;
  }
}