#navbar {
  display: flex;
  flex-direction: column;
  width: 120px;
  background-color: $secondary;
  padding-left: 8px;
  #close {
    display: none;
  }
  .links {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
#hamburger {
  display: none;
  position: relative;
  top: 2px;
  left: 2px;
}
@media only screen and (max-width: 768px) {
  #hamburger {
    display: flex;
  }
  #navbar {
    z-index: 2;
    display: none;
    position: absolute;
    height: 100vh;
    flex-direction: column;
    width: 120px;
    background-color: $secondary;
    padding-left: 8px;
    #close {
      display: flex;
      height: 50px;
    }
    .links {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}